*{
    font-size: 20px;
    font-weight: none;
}

body{
    background: rgb(0, 85, 0);
}

.game-screen{
    border: 3px solid rgb(0, 56, 0);
    border-radius: 100%;
    margin: 30px;
    height: 500px;
    background-image: url("../images/football.png");
    background-position: center;
    background-size: cover;
}

.name{
    color: rgb(0, 85, 0);
    background-color: white;
    font-family: monospace;
    font-size: 35px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 3%;
    border: 2px solid rgb(0, 85, 0);
}

#timer{
    font-size: 20px;
}

.stats{
    color: rgb(0, 85, 0);
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 3%;
    border: 2px solid rgb(0, 85, 0);
}

.space{
    width: 10vw;
}

#question{
    margin-top: 20px;
    margin-bottom: 10px;
}

#start-button{
    border: solid 1px black;
    border-radius: 5%;
    background-color: rgb(12, 61, 0);
    color: white;
    padding: 10px;
    cursor: pointer;
}

#start-button:hover{
    background-color: rgb(18, 158, 0);
}

.game{
    color: white;
    font-family: monospace;
}

.answer:hover{
    cursor: pointer;
    color: rgb(115, 255, 0);
}
